.card-main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 480px;
    border: 4px solid var(--primary-color);
    clip-path: polygon(12.3% 0, 100% 0, 100% 100%, 0 100%, 0 8.2%);
    background-color: var(--background-color);
    border-radius: 12px;
    margin-bottom: 14px;
}

.cardActive {
    border: 4px solid var(--active-color);
}

.cardDisabled {
    cursor: not-allowed;
    border: 4px solid var(--disabled-color);
}

.card-linear {
    position: relative;
    left: -28px;
    top: 10px;
    background-color: var(--primary-color);
    width: 100px;
    height: 5px;
    transform: rotateZ(-45deg);
}
.cardActive-linear {
    background-color: var(--active-color);
}

.card-weight {
    position: absolute;
    right: 16px;
    bottom: 16px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 0 10px;
    background-color: var(--primary-color);
}

.cardActive-weight {
    background-color: var(--active-color);
}

.cardDisabled-weight {
    background-color: var(--disabled-color);
}

.card-weight_number {
    color: var(--white-color);
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.card-weight_string {
    color: var(--white-color);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.card-catImage {
    position: absolute;
    height: 360px;
    left: -24px;
    right: -24px;
    bottom: -88px;
}

.card-catImageDisabled {
    opacity: 0.5;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 53px;
    margin-top: 8px;
}

.card-titleDisabled {
    color: var(--disabled-color);
    opacity: 0.5;
}

.card-title_low {
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.card-title_low-active {
    color: var(--active-hover-color);
}

.card-title_high {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-title_medium {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.card-title_flavorDescription {
    display: flex;
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.card-title_flavorDescriptionNumber {
    font-weight: 700;
}

.footerCard {
    color: var(--white-color);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 16px;
}
.footerCard-Disabled {
    color: var(--warning-color);
}

.footerCard-link {
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
}

.card:hover {
    border: 4px solid var(--primary-hover-color);
}
.card:hover .footerCard-link {
    color: var(--primary-color);
}
.card:hover .card-weight,
.card:hover .card-linear {
    background-color: var(--primary-hover-color);
}

.card:active {
    border: 4px solid var(--active-hover-color);
}
.card:active .footerCard-link {
    color: var(--primary-color);
}
.card:active .card-weight,
.card:active .card-linear {
    background-color: var(--active-hover-color);
}

.cardActive:hover {
    border: 4px solid var(--active-hover-color);
}

.cardActive:hover .cardActive-weight,
.cardActive:hover .cardActive-linear {
    background-color: var(--active-hover-color);
}

.cardDisabled-linear,
.card:active .cardDisabled-linear,
.card:active .cardDisabled-weight,
.card:hover .cardDisabled-linear,
.card:hover .cardDisabled-weight {
    background-color: var(--disabled-color);
}

.card-main .cardDisabled,
.card:active .cardDisabled,
.card:hover .cardDisabled {
    border: 4px solid var(--disabled-color);
}
