.cardName {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 480px;
    border: 4px solid #1698D9;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    background-color: #F2F2F2;
    border-top-right-radius: 12px;
    border-bottom-right-radius:12px;
    border-bottom-left-radius: 12px;
    margin-bottom: 14px;
}

.cardNameRed {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 480px;
    border: 4px solid #D91667;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    background-color: #F2F2F2;
    border-top-right-radius: 12px;
    border-bottom-right-radius:12px;
    border-bottom-left-radius: 12px;
    margin-bottom: 14px;
}
.cardName-linear {
    position: relative;
    left: -24px;
    top: 10px;
    background-color: #1698D9;
    width: 100px;
    height: 4px;
    transform: rotateZ(-45deg);
}
.cardName-linearRed {
    position: relative;
    left: -24px;
    top: 10px;
    background-color: #D91667;
    width: 100px;
    height: 4px;
    transform: rotateZ(-45deg);
}

.cardName-weight {
    right: 16px;
    position: absolute;
    min-height: 80px;
    min-width: 80px;
    border-radius: 50%;
    bottom: 16px;
    z-index: 1;
    background-color: #1698D9;
}

.cardName-weightRed {
    right: 16px;
    position: absolute;
    min-height: 80px;
    min-width: 80px;
    border-radius: 50%;
    bottom: 16px;
    z-index: 1;
    background-color: #D91667;
}

.cardName-weight_number{
    position: absolute;
    inset: 0;
    top: 15px;
    color: #FFF;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px
}

.cardName-weight_string{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.cardName-catImage {
    position: absolute;
    bottom: -93px;
    left: -28px;
    width: 368px;
    height: 360px;
}

.cardName-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 20px;
}

.cardName-title_low{
    color: #666;
    font-family: Exo,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.cardName-title_high {
    font-family: Exo,sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardName-title_medium {
    font-family: Exo,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footerCard{
    color: #FFF;
    text-align: center;
    font-family: Exo,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerCard-link {
    color: #1698D9;
    font-family: Exo,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardName-main:hover .cardName {
    border: 4px solid #2EA8E6;
}
.cardName-main:hover .footerCard-link {
    color: #22A7E9;
}
.cardName-main:hover .cardName-weight {
    background-color: #2EA8E6;
}


.cardName-main:hover .cardNameRed {
    border: 4px solid #E52E7A;
}
.cardName-main:hover .cardName-weightRed {
    background-color: #E52E7A;
}

/*.cardName:hover {*/
/*    border: 4px solid #2EA8E6;*/
/*}*/
